@charset "utf-8";
.article-wrap {
    .search-unit {
        width: 70%;
        .search-item {
            width: 380px;
        }
    }
    .article-list-wrap {
        width: 70%;
        margin-top: 20px;
        .article-item {
            overflow: auto;
            .article-title {
                padding: 4px 0 20px;
                font-size: 20px;
                .txt {
                    margin-right: 20px;
                }
                .tag-wrap {
                    display: inline-block;
                }
            }
            .article-img {
                float: left;
                width: 340px;
                vertical-align: top;
            }
            .desc-content {
                margin-left: 340px;
                padding: 0 0 0 20px;
                vertical-align: top;
                box-sizing: border-box;
            }
        }

    }
}